.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
}

.cartoes {
    list-style-type: none;
    padding: 0;
}

.cartao {
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.acertos {
    margin-top: 20px;
}

.acerto {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #0e140e;
    border-radius: 50%;
    margin: 5px;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    cursor: pointer; /* Adicionado cursor pointer para indicar que é clicável */
}

.acerto.preenchido {
    background-color: #2e7d32; /* Cor alterada para indicar que o acerto foi marcado */
}
